body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: title-font;
  src: url(fonts/Norse-Bold.otf);
}

.title {
  font-family: title-font, sans-serif;
  font-size: 100px;
}

.image-container {
  width: 50%;
  border: 1px solid black;
}